:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --code-color: #000000;
  --code-background: #F6F8FA;

  --primary-glow: conic-gradient(
      from 180deg at 50% 50%,
      #16abff33 0deg,
      #0885ff33 55deg,
      #54d6ff33 120deg,
      #0071ff33 160deg,
      transparent 360deg
  );
  --secondary-glow: radial-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
      #00000080,
      #00000040,
      #00000030,
      #00000020,
      #00000010,
      #00000010,
      #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  line-height: 2;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0 100px;
}

pre {
  padding: 10px;
  background: var(--code-background);
  color: var(--code-color);
  line-height: 1.5;
  border-radius: 10px;
  max-width: 100%;
  margin: 10px 0;
  overflow-x: auto;
}

img {
  margin: 10px 0;
  border-radius: 10px;
  max-width: 100%;
}

ul {
  padding-left: 20px;
}

a, a:visited {
  color: #0040ff;
  text-decoration: none;
}

/* 手机上要修改宽度 */
@media (max-width: 768px) {
  body {
    width: 100%;
    padding: 10px 10px 50px;
  }
}
